<h2 class="screen-align">Deletetree</h2>
<div id="template-i16b" class="gjs-row">
    <div id="template-iquc" class="gjs-cell">
        <label id="template-i5ak" class="label ">Name</label>
        <input id="template-iukk" [(ngModel)]="treeaccount.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-ilqh" (click)="GpUpdate()" class="button btn btn-primary ">Update</div>
        <div id="template-ib8t" (click)="GpDelete()" class="button btn btn-danger ">Delete</div>
    </div>
</div>